.cover {
    background-color: #000000;
    border: none;
    margin-bottom: -5px;
}
.caption {
    color: #FFFFFF;
    font-size: 200%;
    font-family: OpenSauce Black;
    position: relative;
    top: 200px;
    right: 5%;
    text-align: right;
}
.title {
    width: 100%;
    padding-left: 20%;
    padding-right: 5%;
    color: #FFFFFF;
    font-size: 1162.5%;
    font-family: Lovelo;
    font-weight: 900;
    text-align: right;
    line-height: 245px;
    position: relative;
    top: 0px;
}
.subtitle {
    width: 100%;
    padding-left: 20%;
    padding-right: 5%;
    color: #FFFFFF;
    font-size: 600%;
    font-family: OpenSauce Bold;
    font-weight: 900;
    line-height: 164px;
    text-align: right;
    position: relative;
    top: -125px;
}
.block {
    padding: 4.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
}
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: OpenSauce Black;
    font-size: 175%;
    text-align: center;
}
.position {
    margin: 0px;
    font-family: Lovelo;
    font-size: 112.5%;
    text-align: center;
}
.description {
    font-family: OpenSauce;
    font-size: 100%;
    line-height: 28px;
    text-align: center;
}