* {
    box-sizing: border-box;
    font-family: var(--font-inter);
    -ms-overflow-style: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    *::-webkit-scrollbar {
        display: none;
        /* width: 10px;
        position: fixed; */
    }
    /* *::-webkit-scrollbar-track {
        border-radius: 20px;
    }
    *::-webkit-scrollbar-thumb {
        background: #00000015;
        border-radius: 5px;
    } */
html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
button, input {
    cursor: pointer;
}
input[type='text'] {
    cursor: text;
}
@font-face {
    font-family: Lovelo;
    src: url('/fonts/Lovelo Black.otf');
}
@font-face {
    font-family: Lovelo Line Black;
    src: url('/fonts/LoveloLineBlack.otf');
}
@font-face {
    font-family: Lovelo Line Light;
    src: url('/fonts/LoveloLineLight.otf');
}
@font-face {
    font-family: OpenSauce;
    src: url('/fonts/OpenSauceOne-SemiBold.ttf');
}
@font-face {
    font-family: OpenSauce Bold;
    src: url('/fonts/OpenSauceSans-Bold.ttf');
}
@font-face {
    font-family: OpenSauce Black;
    src: url('/fonts/OpenSauceTwo-Black.ttf');
}