* {
    box-sizing: border-box;
    font-family: var(--font-inter);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
    *::-webkit-scrollbar {
        display: none;
    }
html, body {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
button, input {
    cursor: pointer;
}
input[type='text'] {
    cursor: text;
}