.annoucement {
    background-color: #DDDDDD;
    height: 60px;
    padding: 20px;
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: OpenSauce;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    text-align: center;
}
    .annoucement:hover {
        cursor: pointer;
    }