.cover {
    background-color: #000000;
    border: none;
    margin-bottom: -5px;
}
.caption {
    color: #FFFFFF;
    font-size: 32px;
    font-family: OpenSauce Black;
    position: relative;
    top: 200px;
    left: 6vw;
}
.title {
    width: 80%;
    color: #FFFFFF;
    font-size: 186px;
    font-family: Lovelo;
    font-weight: 900;
    text-align: left;
    line-height: 245px;
    position: relative;
    top: 0px;
    left: 5vw;
}
.subtitle {
    width: 80%;
    color: #FFFFFF;
    font-size: 96px;
    font-family: OpenSauce Bold;
    font-weight: 900;
    line-height: 164px;
    text-align: left;
    position: relative;
    top: -125px;
    left: 5vw;
}