.cover {
    width: 100%;
	height: 50vh;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
}
.coverImage {
	width: calc(100% / 3);
	border: 2px solid #FFFFFF;
	display: flex;
	justify-content: center;
}
.annoucement {
    background-color: #DDDDDD;
    height: 60px;
    padding: 20px;
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: OpenSauce;
    font-weight: 500;
    font-size: 87.5%;
    text-decoration: underline;
    text-align: center;
}
    .annoucement:hover {
        cursor: pointer;
    }
.heading {
    background-color: #000000;
    padding: 3.5%;
    color: #FFFFFF;
    font-family: OpenSauce Bold;
    font-size: 1.75vw;
    text-transform: capitalize;
    text-align: center;
    align-self: center;
}
.header {
    width: fit-content;
    margin: 0;
    font-family: Lovelo;
    font-weight: 900;
    font-size: 6vw;
    text-align: center;
    border-bottom: 1vw solid #00C455;
}
.description {
    font-family: OpenSauce;
    font-size: 1.45vw;
    line-height: 3.5vw;
    text-align: center;
}
.button {
    background-color: #000000;
    margin: 0px; 
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    color: #FFFFFF;
    font-family: OpenSauce;
    font-size: 1.3vw;
    text-align: center;
    align-self: center;
}
.slider {
    width: 100%;
    display: inline-flex;
    align-items: center;
    overflow-x: auto;
}
.sliderImage {
	min-width: 350px;
	border: 5px solid #FFFFFF;
	display: flex;
	justify-content: center;
}
    .sliderImage:hover {
        cursor: pointer;
    }
.arrowLeft {
	width: 0;
	height: 0;
    margin: 2%;
	border-top: 40px solid transparent;
	border-right: 30px solid #000000;
	border-bottom: 40px solid transparent;
    position: absolute;
    left: 0;
}
    .arrowLeft:hover {
        border-right: 30px solid #454545;
        cursor: pointer;
    }
.arrowRight {
	width: 0;
	height: 0;
    margin: 2%;
	border-top: 40px solid transparent;
	border-left: 30px solid #000000;
	border-bottom: 40px solid transparent;
    position: absolute;
    right: 0;
}
    .arrowRight:hover {
        border-left: 30px solid #454545;
        cursor: pointer;
    }
.arrowDown {
    width: 0;  
    height: 0;  
    border-left: 30px solid transparent; 
    border-right: 30px solid transparent;
    border-top: 30px solid #000000; 
    align-self: center;
}
    .arrowDown:hover {
        border-top: 30px solid #454545;
        cursor: pointer;
    }
.productImage {
    width: 100%;
}
    .productImage:hover {
        cursor: pointer;
        filter: brightness(80%);
    }
.color {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}
    .color:last-of-type {
        margin-left: 0px;
    }
    .color:hover {
        cursor: pointer;
        outline: 2px solid #000000;
    }
.name {
    margin: 0px;
    margin-top: 5px;
    font-family: OpenSauce;
    font-size: 112.5%;
}
    .name:hover {
        cursor: pointer;
        text-decoration: underline;
    }
.price {
    margin: 0px;
    margin-top: 5px;
    font-family: OpenSauce;
    font-size: 100%;
    }
.seeMore {
    margin: 0px;
    margin-bottom: 10px;
    font-family: OpenSauce;
    font-size: 112.5%;
    text-align: center;
}
@media (max-width: 700px) {
    .header {
        font-size: 8.75vw;
        border-bottom: 1.75vw solid #00C455;
    }
    .heading {
        font-size: 3.5vw;
    }
    .description {
        font-size: 3.25vw;
        line-height: 7vw;
    }
    .button {
        font-size: 2.75vw;
    }
    .slider {
        width: 95%;
    }
}